@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 13.5% 92.7%;
    --foreground: 205.4 26% 19.6%;

    --card: 180 13.5% 92.7%;
    --card-foreground: 205.4 26% 19.6%;

    --popover: 180 13.5% 92.7%;
    --popover-foreground: 205.4 26% 19.6%;

    --primary: 25.5 100% 65.9%;
    --primary-foreground: 205.4 26% 19.6%;

    --secondary: 206.7 16.4% 78.4%;
    --secondary-foreground: 205.4 26% 19.6%;

    --muted: 206.7 16.4% 78.4%;
    --muted-foreground: 205.4 26% 19.6%;

    --accent: 25.5 100% 65.9%;
    --accent-foreground: 205.4 26% 19.6%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 180 13.5% 92.7%;

    --border: 206.7 16.4% 78.4%;
    --input: 206.7 16.4% 78.4%;
    --ring: 25.5 100% 65.9%;

    --radius: 0.5rem;

    --chart-1: 25.5 100% 65.9%;
    --chart-2: 206.7 16.4% 78.4%;
    --chart-3: 205.4 26% 19.6%;
    --chart-4: 180 13.5% 92.7%;
    --chart-5: 206.7 16.4% 78.4%;
  }

  .dark {
    --background: 205.4 26% 19.6%;
    --foreground: 180 13.5% 92.7%;

    --card: 205.4 26% 19.6%;
    --card-foreground: 180 13.5% 92.7%;

    --popover: 205.4 26% 19.6%;
    --popover-foreground: 180 13.5% 92.7%;

    --primary: 25.5 100% 65.9%;
    --primary-foreground: 205.4 26% 19.6%;

    --secondary: 206.7 16.4% 78.4%;
    --secondary-foreground: 205.4 26% 19.6%;

    --muted: 205.4 26% 19.6%;
    --muted-foreground: 180 13.5% 92.7%;

    --accent: 25.5 100% 65.9%;
    --accent-foreground: 205.4 26% 19.6%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 180 13.5% 92.7%;

    --border: 206.7 16.4% 78.4%;
    --input: 206.7 16.4% 78.4%;
    --ring: 25.5 100% 65.9%;
    --chart-1: 25.5 100% 65.9%;
    --chart-2: 206.7 16.4% 78.4%;
    --chart-3: 180 13.5% 92.7%;
    --chart-4: 205.4 26% 19.6%;
    --chart-5: 206.7 16.4% 78.4%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
